.baby-planning-services{
    padding:2.125rem 0 66px 0;

    

    .baby-planning-services-intro{
        padding:3.75rem 3.125rem;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .intro-text{
        h3{
            order:1;
            text-align:center;
        }

        img{
            margin-top:2.3125rem;
            order:2;
        }

        .default-text{
            margin-top:2.5rem;
            order:3;
        }
    }

    .icons{
        margin-top:2.75rem;

        ul{
            .image-container{
                margin-bottom:1.25rem;

                img{
                    object-fit:contain;
                    height: 100%;
                    width: 100%;
                }
            }

            @media (max-width: 47.9375rem) {
                li + li{
                    margin-top:2.5rem;
                }

                .image-container{
                    width:6.25rem;
                }
            }
        }

        @media (min-width: 48rem) {
            padding:48px var(--gutter) 3.75rem;
            background-color:var(--brownlight3);

            .image-container{
                height:6.8125rem;
            }

            .icons-list{
                display:flex;
                flex-direction:row;
                justify-content:space-between;
                column-gap:3.125rem;
            }
        }
    }

    .question-text{
       
        h4 + .standard-text{
            margin-top:2.25rem;
        }

        strong{
            text-transform:uppercase;
            color:var(--browndark);
        }

        @media (max-width: 47.9375rem) {
            max-width:85%;
        }

        @media (min-width: 48rem) {
            max-width:55%;
        }
    }


    @media (min-width: 62rem) {
        padding:10.3125rem 0;

        > .container-wrapper{
            padding: 0 5%;
        }

        .baby-planning-services-intro{
            padding:8.4375rem 7% 4.6875rem 7%;
        }

        .intro-text{
            display:grid;
            grid-template-columns: repeat(12, 1fr);

            img{
                grid-column: 1 / 5;
                grid-row: 1 / 3;
                margin-top:0;
            }

            h3{
                grid-column: 6 / 13;
                grid-row: 1 / 2;
                text-align:left;
                align-self: flex-end;
            }

            .default-text{
                margin-top:50px;
                grid-column: 6 / 12;
                grid-row: 2 / 3;
            }
        }

        .icons{
            margin:5rem auto;
            max-width:95%;
        }
    }   
}