.baby-planning-services{
    padding:2.125rem 0 66px 0;

    .baby-planning-services-intro{
        padding:3.75rem 3.125rem;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .intro-text{
        h3{
            order:1;
            text-align:center;
        }

        img{
            margin-top:2.3125rem;
            order:2;
        }

        .default-text{
            margin-top:2.5rem;
            order:3;
        }
    }

    .icons{
        margin-top:2.75rem;

        ul{
            .image-container{
                margin-bottom:1.25rem;

                img{
                    object-fit:contain;
                    height: 100%;
                    width: 100%;
                }
            }

            @media (max-width: 47.9375rem) {
                li + li{
                    margin-top:2.5rem;
                }

                .image-container{
                    width:6.25rem;
                }
            }
        }

        @media (min-width: 48rem) {
            padding:48px var(--gutter) 3.75rem;
            background-color:var(--brownlight3);

            .image-container{
                height:6.8125rem;
            }

            .icons-list{
                display:flex;
                flex-direction:row;
                justify-content:space-between;
                column-gap:3.125rem;
            }
        }
    }

    .question-text{
       
        h4 + .standard-text{
            margin-top:2.25rem;
        }

        strong{
            text-transform:uppercase;
            color:var(--browndark);
        }

        @media (max-width: 47.9375rem) {
            max-width:85%;
        }

        @media (min-width: 48rem) {
            max-width:55%;
        }
    }
}