.bio{
    padding:9.875rem 0 7rem 0;

    h2{
        margin-bottom:2.6875rem;
    }

    .default-text + .default-text{
        margin-top:3.9375rem;
    }

    .default-text{
        @media (max-width: 61.9375rem) {
            ul{
                display:flex;
                flex-direction:column;
                align-items:center;
            }
        }

        @media (min-width: 62rem) {
            strong{
                color:var(--primary);
            }
        }
    }

    .text-container{
        max-width:85%;
    }

    .btn-container{
        margin-top:5.625rem;
    }
    
    @media (min-width: 62rem) {
        padding-top:10.375rem;
        padding-bottom:clamp(112px, calc(112px + (268 - 112) * (100vw - 768px)/(1920 - 768)), 268px);

        .text-container{
            width:50%;
            margin-right:2%;
            text-align:left;
        }

        .main-image{
            position:absolute;
            width:calc(50% - (var(--gutter) * 2));
            left:-2%;
            bottom:0;
        }
    }
}