.book-nina{
    padding:5.375rem 0 6.5625rem 0; 

    .illustration{
        opacity:.8;    
    }

    .default-text{
        margin-top:3.125rem;
    }

    @media (max-width: 61.9375rem) {
        .btn-container{
            margin-top:1.875rem;
        }

        .text-container{
            max-width:90%;
        }

        h3{
            margin-top:3.1875rem;
        }
    }

    @media (min-width: 62rem) {
        .text-container{
            max-width:60%;
        }

        h3{
            margin-top:6.25rem;
        }

        .btn-container{
            margin-top:6rem;
        }
    }
}