.credentials{
    padding:4.875rem 0 4.3125rem 0;

    .text-container{
        max-width:85%;
    }

    .large-text{
        padding-bottom:2.375rem;
        margin-bottom:3rem;

        &:after{
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:.0625rem;
            background-color:var(--black);
            content:'';
        }
    }
}