.credentials{
    padding:4.875rem 0 4.3125rem 0;

    .text-container{
        max-width:85%;
    }

    .large-text{

        &:after{
            position:absolute;
 
            background-color:var(--black);
            content:'';
        }
    }

    @media (max-width: 61.9375rem) {
        .large-text{
            padding-bottom:2.375rem;
            margin-bottom:3rem;

            &:after{
                
                bottom:0;
                left:0;
                right:0;
                height:.0625rem;
     
            }
        }
    }

    @media (min-width: 62rem) {
        .text-container{
            display:flex;
            justify-content:space-between;
        }

        .large-text{
            --margin:11.25rem;

            width:calc((100% - var(--margin)) / 2);
            min-width:calc((100% - var(--margin)) / 2);
            margin-right:var(--margin);
            display:flex;
            flex-direction:column;
            justify-content: center;

            &:after{
                
                top:0;
                bottom:0;
                right:calc((var(--margin) / 2) * -1);
                width:.0625rem;
     
            }
        }
    }
}