.enter{
    padding:4.6875rem 0 7.5rem 0;
    
    .text-container{
        max-width:85%;
    }

    .large-text{
        margin-top:0;
    }

    img{
        margin-top:-2.5rem
    }

    @media (min-width: 62rem) {
        padding-top:7.5rem;

        .text-container{
            max-width:55%;
        }
    }
}