.freebies{
    padding:8.75rem 0 7.1875rem 0;
    --colGap:3.125rem;

    .illustration{
        margin-top:-3.125rem;
    }

    .freebies-list{
        margin-top:1.875rem;
        row-gap:4.6875rem;

        @media (min-width: 48rem) {
            flex-direction:row;
            flex-wrap:wrap;
            column-gap:var(--colGap);
        }
    }

    .single-freebie{
        padding:2.3125rem 2.3125rem 0 2.3125rem;
        max-width:90%;

        .default-text{
            margin-top:1.5625rem;
        }

        .btn-container{
            margin-top:1.25rem;
        }

        @media (min-width: 48rem) {
            
        }

        @media (min-width: 62rem) {
            
        }
    }
}