.intro{
    padding-bottom:8.5rem;
    --iconw:8.5625rem;

    @media (min-width: 48rem) {
        --iconw:10.75rem;

        
    }

    .icon{
        width:var(--iconw);
        height:var(--iconw);
        margin-top:calc(var(--iconw) * -0.5);
    }

    .word-list{
        margin-bottom:var(--margin50);
        row-gap:.9375rem;
        column-gap:.5rem;

        li{
            padding:.0187rem .625rem;
            font-size:1.4375rem;
            font-size: clamp(23px, calc(23px + (44 - 23) * (100vw - 768px)/(1920 - 768)), 44px);
            line-height:1.478;
        }
    }

    .btn-container{
        margin:2.5rem auto;
        align-items:center;
         
        @media (max-width: 47.9375rem) {
            flex-direction:column;
            row-gap:1.5rem;
        }

        @media (min-width: 48rem) {
            column-gap:2.1875rem;
        }

        @media (min-width: 62rem) {
            margin:6.25rem auto 4.375rem auto;
        }
    }

    .default-text{
        max-width:75%;
    }

    @media (min-width: 62rem) {
        padding-bottom:clamp(136px, calc(136px + (317 - 136) * (100vw - 768px)/(1920 - 768)), 317px);

        .icon{
            margin-bottom:clamp(50px, calc(50px + (230 - 50) * (100vw - 768px)/(1920 - 768)), 230px);
        }

        .text-container{
            max-width:75%;
            margin:0 auto;
        }

        h2 {
            margin-bottom:5.375rem;

            span{
                position:relative;

                &:after{
                    position:absolute;
                    content:'';
                    left:-15%;
                    right:-15%;
                    height:200%;
                    pointer-events:none;
                    background-repeat:no-repeat;
                    background-position:center bottom;
                    background-image:url('data:image/svg+xml,<svg width="600" height="39" viewBox="0 0 600 39" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M173.901 2.59398C175.664 2.73008 177.429 2.8037 179.179 3.01713C181.388 3.28956 183.399 4.68283 183.834 6.29129C184.181 7.57963 183.61 8.74995 182.692 9.76826C181.089 11.572 178.998 13.009 176.82 14.3687C173.931 16.175 170.935 17.8712 167.968 19.601C165.495 21.0398 163.041 22.5115 160.502 23.8747C158.795 24.7928 157.01 25.6658 155.141 26.3677C152.088 27.5111 149.711 29.3099 147.15 30.9456C146.262 31.5117 145.296 32.0248 144.466 32.6424C144.123 32.898 144.024 33.3526 143.817 33.7206C144.266 33.8101 144.74 34.0112 145.163 33.9812C148.389 33.7288 151.643 33.5412 154.825 33.1366C159.544 32.5293 164.209 31.7534 168.901 31.0657C171.297 30.7178 173.71 30.4497 176.088 30.0535C178.304 29.6918 180.475 29.1934 182.683 28.784C185.894 28.1857 189.104 27.5952 192.324 27.0367C195.239 26.5331 198.153 26.0607 201.086 25.6211C208.195 24.5559 215.314 23.4993 222.441 22.4903C227.384 21.7906 232.293 20.9552 237.317 20.4968C241.624 20.1007 245.854 19.4164 250.127 18.8688C254.785 18.2725 259.424 17.6356 264.109 17.1197C269.338 16.544 274.603 16.0964 279.85 15.5691C283.221 15.2339 286.574 14.8346 289.945 14.4915C294.254 14.0641 298.579 13.7164 302.87 13.2484C307.009 12.7923 311.105 12.1761 315.244 11.7278C322.118 10.9892 329.002 10.2592 335.921 9.66506C343.918 8.98184 351.865 8.0753 359.863 7.38428C363.473 7.07537 367.023 6.54238 370.634 6.21786C376.364 5.70428 382.109 5.29378 387.846 4.82784C391.617 4.5235 395.381 4.1481 399.17 3.89998C404.289 3.56649 409.433 3.35248 414.57 3.05959C420.725 2.70422 426.872 2.29341 433.037 1.93882C438.789 1.6072 444.551 1.27634 450.32 1.01655C454.045 0.849697 457.784 0.809349 461.517 0.713558C465.882 0.604005 470.25 0.447593 474.623 0.409105C478.755 0.375486 482.9 0.483991 487.03 0.489423C491.722 0.499108 496.409 0.398683 501.108 0.49505C505.737 0.586006 510.329 0.337266 514.988 0.681232C519.596 1.01352 524.221 0.947503 528.837 1.10798C531.155 1.18508 533.466 1.42619 535.785 1.48767C547.709 1.82062 559.595 3.0517 571.492 4.00943C577.241 4.46893 582.993 5.06977 588.733 5.75576C591.752 6.11426 594.738 6.79142 597.729 7.35923C598.327 7.47592 599.207 7.57521 599.12 8.19536C599.091 8.4125 598.107 8.62645 597.535 8.62923C594.047 8.64987 590.56 8.64707 587.065 8.58883C585.228 8.55665 583.385 8.40655 581.541 8.30332C579.385 8.1761 577.23 8.0567 575.066 7.9131C567.47 7.41284 559.884 6.90555 552.288 6.41311C550.695 6.30577 549.101 6.20624 547.505 6.17701C542.755 6.0924 538.01 5.91406 533.266 5.68886C526.827 5.38765 520.382 5.25045 513.955 5.15385C509.667 5.08918 505.381 5.21273 501.099 5.22694C497.139 5.24247 493.181 5.21894 489.231 5.25086C487.17 5.27196 485.124 5.41957 483.072 5.44925C482.127 5.46247 481.152 5.2383 480.207 5.24371C477.262 5.27486 474.332 5.39346 471.387 5.42461C468.381 5.45112 465.358 5.41361 462.353 5.40888C462.122 5.40671 461.881 5.41158 461.649 5.44066C457.366 5.97187 452.977 5.91509 448.653 6.20814C444.259 6.51139 439.856 6.79825 435.453 7.06168C430.89 7.33617 426.318 7.57084 421.754 7.84533C417.029 8.13087 412.313 8.44843 407.597 8.75818C403.113 9.05447 398.629 9.34296 394.154 9.66345C390.061 9.95867 385.981 10.2156 381.929 10.7334C377.757 11.2653 373.453 11.3326 369.236 11.7279C363.062 12.3011 356.929 13.0891 350.738 13.5906C345.172 14.0384 339.658 14.6784 334.11 15.1746C326.414 15.8654 318.779 16.7803 311.117 17.5992C307.988 17.9374 304.859 18.26 301.729 18.606C298.619 18.9535 295.518 19.3409 292.399 19.6721C286.777 20.2567 281.147 20.7936 275.525 21.386C272.406 21.7171 269.312 22.1678 266.193 22.499C262.286 22.9182 258.363 23.2578 254.457 23.6536C252.58 23.8456 250.721 24.0782 248.852 24.3256C244.274 24.9281 239.696 25.5541 235.109 26.1402C232.543 26.467 229.905 26.5924 227.412 27.0817C223.369 27.8665 219.196 28.1712 215.11 28.7959C211.793 29.3077 208.467 29.7718 205.158 30.3077C200.242 31.0956 195.342 31.9396 190.435 32.7283C185.923 33.4533 181.383 34.1214 176.87 34.8465C171.68 35.6837 166.517 36.5936 161.308 37.3903C157.647 37.9538 153.995 38.5181 150.168 38.4734C148.19 38.4538 146.239 38.9458 144.274 38.8489C141.276 38.6958 138.222 38.4443 136.024 36.2296C135.185 35.3891 135.086 34.6449 135.433 33.7942C135.939 32.5403 136.907 31.4947 138.137 30.6807C142.788 27.6236 147.371 24.522 152.803 22.246C155.872 20.9551 158.684 19.323 161.591 17.8237C163.461 16.8554 165.438 15.9659 167.134 14.8354C170.464 12.6086 174.354 10.8953 177.317 8.32679C177.577 8.10402 177.838 7.88125 178.06 7.63195C178.641 6.95596 178.482 6.66947 177.422 6.54064C173.064 5.99261 168.734 5.74446 164.373 5.97193C160.838 6.15348 157.264 6.06562 153.739 6.27137C150.737 6.43923 147.784 6.89289 144.799 7.1404C140.331 7.51634 135.838 7.78843 131.37 8.17999C126.347 8.62274 121.34 9.15294 116.326 9.6277C114.853 9.77253 113.353 9.83693 111.879 9.99738C110.324 10.1594 108.787 10.3855 107.241 10.5874C104.524 10.9339 101.815 11.3046 99.0882 11.6269C94.2609 12.1944 89.4069 12.6816 84.5974 13.3054C81.9601 13.6502 79.3937 14.2199 76.7828 14.653C74.3238 15.0587 71.829 15.3597 69.3881 15.8137C64.3544 16.7493 59.3474 17.7652 54.332 18.7414C51.6674 19.2565 48.9845 19.7311 46.3286 20.2782C41.9392 21.1852 37.5668 22.1639 33.1777 23.0631C30.38 23.6384 27.5274 24.0842 24.7106 24.6346C23.1099 24.942 21.555 25.3547 19.9727 25.7027C16.514 26.4621 13.0546 27.2371 9.58725 27.9645C8.46194 28.1989 7.28081 28.3271 6.11874 28.4803C3.95649 28.7599 2.03244 29.3479 0.658669 30.7071C0.532541 30.8384 0.308559 30.9073 0.133339 31.0113C0.102836 30.7817 -0.0365261 30.5124 0.0521757 30.3155C0.773784 28.6944 2.36276 27.7123 4.3436 27.2071C8.87444 26.0446 13.442 24.9634 18.018 23.922C26.521 21.9771 35.0046 20.0151 43.5528 18.1913C54.3622 15.8838 65.1359 13.4718 76.2371 11.8685C82.7482 10.9295 89.1964 9.81325 95.7162 8.90624C100.902 8.18613 106.14 7.65028 111.351 7.03401C115.713 6.52461 120.068 5.97538 124.438 5.5136C128.274 5.11238 132.144 4.8392 135.988 4.47779C140.074 4.0959 144.143 3.63436 148.236 3.3079C152.874 2.94511 157.531 2.59948 162.202 2.41941C166.077 2.26415 169.982 2.36191 173.881 2.34174C173.888 2.42062 173.895 2.49949 173.902 2.57836L173.901 2.59398Z" fill="%23EEB19A"/></svg>');
                }
            }
        }
    }
}