.jumbo-title-image{
    @media (max-width: 61.9375rem) {
        padding-top:2.5rem;

        h1{
            margin-bottom:2.5rem;
        }
    }

    @media (min-width: 62rem) {
         padding-top:clamp(40px, calc(40px + (120 - 40) * (100vw - 768px)/(1920 - 768)), 120px);

        h1{
            margin-bottom:clamp(40px, calc(40px + (85 - 40) * (100vw - 768px)/(1920 - 768)), 850px);
        }
    }
}