.jumbo-title-image{

    img{
        min-width:100%;
    }

    @media (max-width: 61.9375rem) {
        padding-top:2.5rem;

        h1{
            margin-bottom:2.5rem;
        }
    }

    @media (min-width: 62rem) {
        --clamp:clamp(40px, calc(40px + (120 - 40) * (100vw - 768px)/(1920 - 768)), 120px);
        padding-top:var(--clamp);

        h1{
            margin-bottom:clamp(40px, calc(40px + (85 - 40) * (100vw - 768px)/(1920 - 768)), 850px);
        }
    }
}