.jumbo-image-text{
    .belleaurore{
        margin-top:1.25rem;
        display:block;
    }

    img{
        min-width:100%;
    }

    @media (max-width: 61.9375rem) {
        padding-top:2.5rem;

        h1{
            margin-bottom:2.5rem;
        }

        .text-container{
            padding:2.5rem 0;
        }
    }

    @media (min-width: 62rem) {
        --clamp:clamp(40px, calc(40px + (120 - 40) * (100vw - 768px)/(1920 - 768)), 120px);
        padding-top:var(--clamp);
        padding-bottom:var(--clamp);

        h1{
            margin-bottom:clamp(40px, calc(40px + (160 - 40) * (100vw - 768px)/(1920 - 768)), 160px);
        }

        .image-text-outside{
            position:relative;
        }

        .image-container{
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            width:calc(50% - 3.125rem);
            overflow:hidden;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: initial;
            object-fit: cover;
        }

        .text-container{
            padding:var(--clamp) 0;
            width:calc(48% - 3.125rem);
            margin-right:5%;
            margin-left:auto;
        }
    }
}