.letsdothis{
    
    

    .default-text{
        margin-top:1.875rem;
    }

    @media (max-width: 61.9375rem) {
        padding-top:5rem;
        flex-direction:column-reverse;

        .main-image{
            margin-top:1.875rem;
        }

        .text-container{
            max-width: 90%;
        }
    }

    @media (min-width: 62rem) {
        padding-top:clamp(80px, calc(80px + (240 - 80) * (100vw - 768px)/(1920 - 768)), 240px);
        padding-bottom:clamp(280px, calc(280px + (517 - 280) * (100vw - 768px)/(1920 - 768)), 517px);

        .text-container{
            max-width:40%;
            margin-left:auto;
            margin-right:10%;
        }

        .bg-container{
            img{
                width:auto;
                object-fit:initial;
                right:0;
            }
        }

        .main-image{
            position:absolute;
            width:60%;
            bottom:0;
            left:-2.5%;
        }
    }
}