.services-list{
    padding:10.25rem 0 4.125rem 0;
    overflow:hidden;

    .bg-container{
        height:111.9375rem;
        left:calc(var(--gutter) * -1);
        width:calc(100% + (var(--gutter)*2));
    }

    .items-list{
        padding:0 var(--gutter);
    }

    .single-list-item{
        padding:2.5625rem 2.3125rem;
        border-radius:.9375rem;

        & + .single-list-item{
            margin-top:4.5rem;
        }

        img{
            border-radius:.9375rem;
        }

        .btn-container{
            margin-top:2.5rem;
        }

        .default-text{
            margin-top:2.0625rem;
        }

        @media (max-width: 47.9375rem) {
            .text-container{
                margin-top:2.0625rem;
            }

            img{
                min-width:100%;
            }
        }

        @media (min-width: 48rem) {
            display:flex;
            flex-wrap: nowrap;
            align-items:center;
            column-gap:3.125rem;

            img{
                min-width:41.6%;
                width:41.6%;
            }

            .btn-container{
                justify-content: flex-start;
                display: flex;
            }
        }
    }

    @media (min-width: 62rem) {
         .items-list{
            padding:0 7.5%;
        }

        .single-list-item{
            padding:5.625rem 4.375rem;
            

            & + .single-list-item{
                margin-top:clamp(72px, calc(72px + (200 - 72) * (100vw - 768px)/(1920 - 768)), 200px);
            }
        }

        .bg-container{
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            overflow:hidden;
            left:0;
            width:100%;
        }
    }
   
}