.subscribe{
    padding: 73px 0 2.9375rem 0;

    .default-text{
        margin-top:2.8125rem;
    }

    .btn-container{
        gap:.9375rem;
    }

    .podcast-btn{
        img{
            width:auto;
        }
    }

    @media (max-width: 61.9375rem) {
        .text-container{
            max-width:90%;
        }

        .btn-container{
            margin-top:4.1875rem;
        }

        .default-text{
            margin-top:2.8125rem;
        }

        .podcast-btn{
            img{
                height:3.6875rem;
            }
        }
    }

    @media (min-width: 62rem) {
        .container-wrapper{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding-left:5%;
            padding-right:5%;
        }

        .text-container{
            margin:0;
            max-width:20%;
            margin-right:1.875rem;
        }

        .podcast-btn{
            img{
                height:3.6875rem;
                height:clamp(50px, calc(50px + (100 - 50) * (100vw - 768px)/(1920 - 768)), 100px);
            }
        }
    }

    @media (min-width: 75rem) {
        .container-wrapper{
            padding-left:7.5%;
            padding-right:7.5%;
        }
    }
}