.title-text{
    

    @media (max-width: 61.9375rem) {
        padding:3.75rem 0;

        h2{
            margin-bottom:1.5625rem;
        }
    }

    @media (min-width: 62rem) {
        --padding:clamp(60px, calc(60px + (155 - 60) * (100vw - 768px)/(1920 - 768)), 155px);

        padding:var(--padding) 0;

        h2{
            margin-bottom:2.8125rem;
        }
    }
}