.videos{
    padding:115px 0;

    .btn-container{
        margin-top:2.6875rem;
        justify-content:center;
        column-gap:.5rem;
        min-width:100%;
    }

    button{
        width:3.125rem;
        height:3.125rem;
        justify-content:center;
        align-items:center;
        border:0;
        border-radius:.2813rem;
        cursor:pointer;

        &.prev-btn{
            svg{
                transform:scaleX(-1);
            }
        }
    }

    .video-link{
        text-decoration:none;
        color:var(--black);
        font-size:1rem;

        font-size: clamp(16px, calc(16px + (25 - 16) * (100vw - 768px)/(1920 - 768)),25px);

        span{
            padding:.625rem
        }
    }

    @media (min-width: 48rem) {
        .video-list{
            display:flex;
            column-gap:1.625rem;
            justify-content: center;
        }
    }
}